body {
  background-color: #DCD0FF;
}
h1{
  color: #8206ff;
}
h3{
color: #8206ff;
}
hr{
  background-color: none;
  border-style: dotted none none;
  border-color: white;
  border-width: 8px;
  height: 0px;
  width: 10%;
}
img{
  height: 250px;

}
